<div class="container">
    {{#each detail_recipe}}
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item me-2"><a href="/">Trang chủ</a></li>
                <li class="me-2">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </li>
                <li class="breadcrumb-item" aria-current="page">{{tenmon}}</li>
            </ol>
        </nav>
    </div>

    <h1 class="text-center mt-5">{{tenmon}}</h1>

    <div class="text-center mt-3">
        <img src="{{chitiet.image}}" alt="{{tenmon}}" title="{{tenmon}}" width="750px" height="550px" class="rounded-5">
    </div>
    {{/each}}
</div>